<nav-bar activetab="'spreadsheet'"></nav-bar>
<form class="form-inline formDataset" name="issuesForm" ng-submit="issuesForm.$valid && spread.addIssues()">
  <div class="form-group ">
    <label for="selectIssuesDataset">Issues Data:</label>
    <select id="selectIssuesDataset" class="form-control" ng-model="spread.dataIssuesSelected" ng-change="spread.selectedIssuesDatasetChanged()">
      <option value="MOCK_ISSUES.csv">Mock Data</option>
      <option ng-repeat="dataset in spread.issuesDataSets" value="{{dataset}}">{{dataset.split("issues.").pop()}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fileIssues">New Dataset:</label>
    <input type="file" name="fileIssues" class="form-control" id="fileIssues" required>
  </div>
  <button type="submit" class="btn btn-default">Upload issues csv</button>
  <a href="/data/MOCK_ISSUES.csv" download="ISSUES.CSV" class="btn btn-info">Download mock data</a>
  <br>
  <div class="formError" ng-if="spread.uploadError">{{spread.uploadError}}</div>
  <div class="formSuccess" ng-if="spread.uploadSuccess">{{spread.uploadSuccess}}</div>
</form>
<table ng-table-dynamic="spread.tableParams with spread.cols" class="table table-condensed table-bordered table-striped table-responsive">
  <tr ng-repeat="row in $data">
    <td ng-repeat="col in $columns">{{row[col.field]}}</td>
  </tr>
</table>
