<nav-bar activetab="'metrics'"></nav-bar>
<form class="form-inline formDataset" name="issuesForm" ng-submit="issuesForm.$valid && metrics.addIssues()">
  <div class="form-group ">
    <label for="selectIssuesDataset">Issues Data:</label>
    <select id="selectIssuesDataset" class="form-control" ng-model="metrics.dataIssuesSelected" ng-change="metrics.selectedIssuesDatasetChanged()">
      <option value="MOCK_ISSUES.csv">Mock Data</option>
      <option ng-repeat="dataset in metrics.issuesDataSets" value="{{dataset}}">{{dataset.split("issues.").pop()}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fileIssues">New Dataset:</label>
    <input type="file" name="fileIssues" class="form-control" id="fileIssues" required>
  </div>
  <button type="submit" class="btn btn-default">Upload issues csv</button>
  <a href="/data/MOCK_ISSUES.csv" download="ISSUES.CSV" class="btn btn-info">Download mock data</a>
  <br>
  <div class="formError" ng-if="metrics.uploadErrorIssues">{{metrics.uploadErrorIssues}}</div>
  <div class="formSuccess" ng-if="metrics.uploadSuccessIssues">{{metrics.uploadSuccessIssues}}</div>
</form>
  <br>
<form class="form-inline formDataset" name="sellsForm" ng-submit="sellsForm.$valid && metrics.addSells()">
  <div class="form-group ">
    <label for="selectSellsDataset">Sells Data:</label>
    <select id="selectSellsDataset" class="form-control" ng-model="metrics.dataSellsSelected" ng-change="metrics.selectedSellsDatasetChanged()">
      <option value="MOCK_SELLS.csv">Mock Data</option>
      <option ng-repeat="dataset in metrics.sellsDataSets" value="{{dataset}}">{{dataset.split("sells.").pop()}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fileSells">New Dataset:</label>
    <input type="file" name="fileSells" class="form-control" id="fileSells" required>
  </div>
  <button type="submit" class="btn btn-default">Upload sells csv</button>
  <a href="/data/MOCK_SELLS.csv" download="SELLS.CSV" class="btn btn-info">Download mock data</a>
  <br>
  <div class="formError" ng-if="metrics.uploadErrorSells">{{metrics.uploadErrorSells}}</div>
  <div class="formSuccess" ng-if="metrics.uploadSuccessSells">{{metrics.uploadSuccessSells}}</div>
</form>
<br>
<div class="container">
  <div class="btn btn-info center-block openIssues">Open issues: {{metrics.numberIssues}}</div>
  <h3>Issues:</h3>
<canvas  class="chart chart-bar chartMetrics" chart-data="dataIssues" chart-labels="labelsIssues"
        chart-series="seriesIssues" chart-click="onClick" style=""></canvas>
  <h3>Sells:</h3>
  <canvas  class="chart chart-line chartMetrics" chart-data="dataSells" chart-labels="labelsSells"
           chart-series="seriesSells" chart-click="onClick"></canvas>
  </div>
